@import "tailwindcss";

@theme {
    --color-brand: #2563eb;
}

body {
    background-color: #ffffff;
    /* Pola titik-titik halus */
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 40px 40px;
}